/*  =========
    Section 1
    ========= */

.section-1 {
    margin-top: 10%;
}

.section-1 .site-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.section-1 .menu {
    margin-top: 5%;
    max-width: 100%;
    object-fit: contain;
}


footer {
    margin-top: 10%;
}

@media screen and (max-width: 1200px) {
    .section-1, .section-1 .menu, footer {
        margin-top: 11%;
    }
}

@media screen and (max-width: 767px) {
    .section-1, .section-1 .menu, footer {
        margin-top: 17%;
    }
}